div.tutorial-container {
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 100px;
    max-width: 1200px;
    margin-left: auto; /* center everything */
    margin-right: auto; /* center everything */
}

div.tutorial-header {
    font-size: calc(2vw + 35px);
    padding-top: 10px;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif
}

ol.tutorial-list .text{
    line-height: 1.5;
}

.text{
    line-height: 1.5;
}

.circle {
    list-style-type: circle;
}

.preface {
    line-height: 1.5;
}

.spaced-circle li{
    line-height: 1.5;  
}