body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card .card-content {
  padding: 10px;
  padding-bottom: 0px
}

i.module-delete-button {
  font-size: 2.5rem;
  opacity: 0.54;
  transition: 0.2s;
  float:right;
}

i.module-delete-button-visible {
  font-size: 2.5rem;
  transition: 0.2s;
  opacity: 0.54;
  float:right;
  cursor: pointer;
}

i.module-delete-button-visible {
  font-size: 2.5rem;
  transition: 0.2s;
  opacity: 0.54;
  float:right;
  cursor: pointer;
  visibility: visible;
}

i.module-delete-button-hidden {
  font-size: 2.5rem;
  opacity: 0;
  transition: 0.4s;
  float:right;
  visibility: hidden;
}

i.module-delete-button:hover{
  opacity: 1;
  cursor: pointer;
  background: rgb(240, 240, 240);
  border-radius: .25rem;
}

i.module-delete-button-visible:hover{
  opacity: 1;
  cursor: pointer;
  background: rgb(240, 240, 240);
  border-radius: .25rem;
}

p.error-msg {
  color: red;
}

div.error-msg p {
  color: red;
}

div.App {
  background: rgb(252, 252, 252)
}