div.what-is-parseit-container {
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 100px;
    max-width: 1200px;
    margin-left: auto; /* center everything */
    margin-right: auto; /* center everything */
}

div.parse-it-question {
    font-size: calc(2vw + 35px);
    padding-top: 10px;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif
}

div.parse-it-answer {
    font-size: calc(0.5vw + 20px);
    padding-top: 10px;
    padding-bottom: 20px
}

ul.what-is-parse-it-list .text{
    line-height: 1.5;
}

.parse-it-answer {
    line-height: 1.5;
}