div.what-is-parseit-container {
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 200px;
}

ul.what-is-parse-it-list .text{
    line-height: 1.5;
}

.parse-it-answer {
    line-height: 1.5;
}