div.saved-text-user-input {
    padding-left: 10px;
    padding-right: 10px
}

div.row {
    padding-left: 10px
}

div.saved-text-user-input{
    margin: 0px;
}

div.saved-text-user-input.insert {
    padding-left: 30px;
}

@media only screen and (max-width: 450px) {
    div.saved-text-user-input.insert {
        padding-left: 10px
    }
  }