div.multiple-split-lines-before-break-user-input {
    padding-left: 10px;
    padding-right: 10px
}

div.row {
    padding-left: 10px
}

div.multiple-split-lines-before-break-user-input{
    margin: 0px;
}

div.multiple-split-lines-before-break-user-input.insert {
    padding-left: 10px
}

div.multiple-split-lines-before-break-complete {
    margin-bottom: 10px;
}

input#instance-input{
    width:30%;
    background: rgb(243, 243, 243);
}

div.multiple-split-lines-before-break-module-introduction {
    padding: 10px
}

@media only screen and (max-width: 450px) {
    div.multiple-split-lines-before-break-user-input.insert {
        padding-left: 10px
    }
  }