ul.dropdown-content{
    overflow-y: overlay;
}

div.module-dropdown-list.row{
    padding-left: 0px !important;
    padding-right: 10px;
    margin-bottom: 0px
}

div.module-dropdown a{
    margin:7px;
    border:1px;
}

.col.s12 > .btn {
    width: 100%;
 }

button.dropdown-button{
     width: 100%;
     font-size: 16px;
     color: #26a69a;
     display: block;
     line-height: 22px;
     padding: 14px 22px;
     background: none;
     border: none;
     text-align: left;
}
button.dropdown-button:hover{
    cursor: pointer;
}
