ul.dropdown-content{
    overflow-y: visible !important;
}

div.module-dropdown-list.row{
    padding-left: 0px !important;
    padding-right: 10px
}

div.module-dropdown a{
    margin:7px;
    border:1px;
}

.col.s12 > .btn {
    width: 100%;
 }
