div.parseit-code-text textarea {
    /* background: #f1f1f1; */
    background: black;
    overflow: hidden;
    caret-color: white;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Courier New'
}