div.progress-dark-background{
    position: fixed;
    background: black;
    opacity: 0.4;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 2;
}

div.overlay-progress-text {
    background: white;
    z-index: 2;
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    border-radius: 25px;
    border: 2px solid lightblue;
}

div.nav-progress-circle{
    padding-top: 10px;
    text-align: center;
}

div.nav-progress-text{
    margin: 10px;
}