div.tricks-container {
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 100px;
    max-width: 1200px;
    margin-left: auto; /* center everything */
    margin-right: auto; /* center everything */
}

div.tricks-header {
    font-size: max(4vw, 40px);
    padding-top: 10px;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif
}

ol.tricks-list .text{
    line-height: 1.5;
}

ul.tricks-list .text{
    line-height: 1.5;
}

.circle {
    list-style-type: circle;
}

.preface {
    line-height: 1.5;
}

.spaced-circle li{
    line-height: 1.5;  
}