div.pdf-error-msg p {
    color: red;
    margin-top: 0px;
    padding-bottom: 12px
}

i.file_upload-img{
    vertical-align: middle;
    margin-right:10px
}

button.submit-pdf-button {
    margin-top:-8px
}

div.pdf-upload-progress-circle {
    float:left;
    padding-right: 20px;
}

div.progress-line {
    padding-top: 20px;
}

div.upload-progress-false {
    opacity: 0;
    transition-property: opacity;
    transition-duration: .6s;
    transition-delay: 4s;
}
