textarea.input-text {
    background: #f1f1f1;
    resize: vertical;
    height: 150px;
}

button.pdf-text-select {
    margin-left: 10px
}

select.textbox-number-dropdown-menu {
    border-color: rgb(197, 197, 197);
    margin-bottom: 10px
}