i.additions-img{
    vertical-align: middle;
    margin-right:10px
}

i.deletions-img{
    vertical-align: middle;
    margin-right:10px
}

i.unified-img{
    vertical-align: middle;
    margin-right:10px
}

button.submit-form-button{
    margin-top:5px;
    margin-bottom:5px;
}

@media only screen and (min-width: 601px){
    div.button-layout .col.offset-m1 {
        margin-left: 11%;
    }
}

@media only screen and (min-width: 993px){
    div.button-layout .col.offset-l3 {
        margin-left: 24%;
    }
}

