i.additions-img{
    vertical-align: middle;
    margin-right:10px
}

i.deletions-img{
    vertical-align: middle;
    margin-right:10px
}

i.unified-img{
    vertical-align: middle;
    margin-right:10px
}